* {
  box-sizing: border-box;
}

body {
  margin: auto;
  font-family: 'Roboto', sans-serif;
  min-width: 320px;
  background-color: var(--background-color);
  color: var(--main-color);
}

.page-wrapper {
  max-width: 600px;
  margin: auto;
  padding-bottom: 20px;
}