/* Button */

.button {
  color: var(--button-color);
  cursor: pointer;
  transition: 0.3s;
  border: none;
  font: inherit;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

/* Button states */

.button:hover {
  background-color: var(--ancent-color-dark);
  color: var(--button-hover-color);
}

.button:focus,
.button:active {
  outline: none;
  color: var(--button-active-color);
}

/* Button circle */

.button--circle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.button--circle ion-icon {
  font-size: 1.4em;
}