body {
  --ancent-color: rgba(36, 34, 36, 0.91);
  --ancent-color-light: #fff;
  --ancent-color-dark: #fff;

  --navbar-background: #fff;
  --navbar-color: #343434;
  --navbar-bottom-shadow: 1px 1px 1px 1px #d2d2d2;
}