/* Navbar, empty block for make space of sticky navbar */

.navbar-top-margin {
  height: 60px;
}

/* Navbar */

.navbar {
  background-color: var(--background-color);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 60px;
}

/* Navbar pull left */

.navbar__pull-left {
  display: flex;
  align-items: center;
  margin-right: auto;
}

/* Navbar pull right */

.navbar__pull-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

/* Navbar video name */

.navbar__video-name {
  font-size: 1.2em;
  padding-left: 15px;
}

/* Navbar video name wrapper */

.navbar__video-name-wrapper {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
}