.navbar {
  display: flex;
  align-items: center;
  background-color: var(--navbar-background);
  color: var(--navbar-color);
  padding: 0 20px;
  height: 50px;
  box-shadow: var(--navbar-bottom-shadow);

  &__pull-left {
    margin-right: auto;
  }

  &__pull-right {
    margin-left: auto;
  }

  &__pull-left,
  &__pull-right {
    display: flex;
    align-items: center;
  }

  &__video-name {
    font-size: 1.2em;
    padding-left: 15px;

    &-wrapper {
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}