/* Controls container */

.controls {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 60px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  z-index: 5;
  padding: 0 15px;
}

/* Controls List */

.controls-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 5px;
}

.controls-list li {
  display: flex;
  align-items: center;
}

.controls-list__time-value {
  padding: 0 10px;
  font-size: 0.9em;
}

/* Controls time line */

.controls-time-line {
  flex: 1 1 0;
}